<div class="cold-md-4 mx-auto">
    <div class="card text-center">
        <h3>Edit Note</h3>

    <div class="card-body text-right">
        <form [formGroup]="baseForm.baseForm"  >
          <div class="mb-3">
            <input
              type="text"
              name="title"
              class="form-control"
              formControlName="title"
              placeholder="Title"
              autofocus
            />
          </div>
          <div class="mb-3">
            <textarea
              type="text"
              name="description"
              class="form-control"
              placeholder="Description"
              formControlName="description"
              autofocus
            ></textarea>
          </div>
          <button class="btn btn-primary m-2" (click)="sendForm()"  type="submit">
            Edit task
          </button>
        </form>

        </div>

        
